.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 80px;
}

.projects-grid-3cols {
  grid-template-columns: repeat(3, 1fr);
}

.projects-grid-ascii {
  grid-template-columns: 2fr 1fr 1fr;
}

.projects-grid:first-of-type {
  margin-top: 0;
}

.category-title {
  font-family: "Poppins", "SF Pro Display", "Helvetica Neue", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 200px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
  padding-right: 100px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 20px solid #000000;
  width: fit-content;
  max-width: 80%;
}

.project-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 60px;
}

.project-card {
  display: block;
  text-decoration: none;
}

.project-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.project-image {
  width: 100%;
  height: 300px;
  background-color: #e5e5e5;
  border-radius: 0;
  margin-bottom: 20px;
  overflow: hidden;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-title {
  font-family: "Poppins", "SF Pro Display", "Helvetica Neue", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 7px;
  color: #000;
}

.project-category {
  font-family: "Poppins", "SF Pro Display", "Helvetica Neue", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
